<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="Synergy"
      connectionString="Server=<SERVER_NAME>;Database=<DATABASE_NAME>;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>

    <add key="GetRoomsListSql" value="
         select distinct TT.Room
        from Timetable as TT    
        where 
            TT.FileYear = DATEPART(YEAR, GETDATE())
            and TT.FileSemester = CASE WHEN DATEPART(MONTH, GETDATE()) &lt;= 6 THEN 1 ELSE 2 END
            and TT.room &lt;&gt; ''
        order by TT.Room"/>

    <add key="GetLocationSql" value="
        select * 
        from woodcroft.uMapLocations
        where Location = @Location"/>
    


    <add key="SaveLocationProc" value="woodcroft.uUpdateMapLocation"/>
  
  </appSettings>
  
</configuration>
